<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Reacty!
  </h1>
  <h2>Your personal reation meme directory</h2>
</div>

<h3 class="search-header">Search for a reaction</h3>
<div class="reaction-search">
  <app-search (onSearchSubmitted)="onSearch($event)"></app-search>
  <app-search-result [searchTerm]="searchTerm"></app-search-result>
</div>

<h3>Upload a reaction</h3>
<div class="reaction-upload">
  <app-upload></app-upload>
</div>
